[Desktop Entry]
Categories=Utility
Name=Tally Nightly
Name[en]=Tally Nightly
Comment=Count anything
Comment[en]=Count anything
Type=Application
Exec=tally
Terminal=false
Icon=ca.vlacroix.Tally.Devel
StartupNotify=false
