[Desktop Entry]
Categories=Utility;
Name=Tally
Name[en]=Tally
Name[fr]=Compteur
Name[id]=Penghitung
Name[it]=Contatore
Comment=Count anything
Comment[en]=Count anything
Comment[fr]=Compter tout
Comment[id]=Hitung apapun
Comment[it]=Conta qualsiasi cosa
Keywords=tally;counter;tally counter;
Keywords[en]=tally;counter;tally counter;
Keywords[fr]=tally;compteur;compteur manuel;
Keywords[id]=tally;penghitung;hitung;
Keywords[it]=tally;contatore;conteggio;contatore manuale;
Type=Application
Exec=tally
Terminal=false
Icon=ca.vlacroix.Tally
StartupNotify=false
