[Desktop Entry]
Categories=Utility
Name=Tally
Name[en]=Tally
Comment=Count anything
Comment[en]=Count anything
Type=Application
Exec=tally
Terminal=false
Icon=ca.vlacroix.Tally
StartupNotify=false
