[Desktop Entry]
Categories=Utility
Name=Tally (development version)
Name[en]=Tally (development version)
Name[fr]=Compteur (version en développement)
Name[id]=Tally (versi pengembangan)
Comment=Count anything
Comment[en]=Count anything
Comment[fr]=Compter tout
Comment[id]=Hitung apapun
Type=Application
Exec=tally
Terminal=false
Icon=ca.vlacroix.Tally.Devel
StartupNotify=false
